/*
 * Color
 */
$blue-primary: #048CE8;
$blue-secondary: #24A4FB;
$accent-orange: #E86004;
$accent-purple: #D204E8;
$accent-green: #1AE804;

$bg-color: #EFEFEF;

$black-87: rgba(0, 0, 0, 0.87);
$black-60: rgba(0, 0, 0, 0.60);
$black-38: rgba(0, 0, 0, 0.38);
$black-16-shadow: rgba(0, 0, 0, 0.16);
$black-10: rgba(0, 0, 0, 0.10);

$blue-primary-50: rgba(4, 140, 232, 0.50);

$blue-secondary-50: rgba(36, 164, 251, 0.50);
$blue-secondary-38: rgba(36, 164, 251, 0.38);

$blue-gradient: linear-gradient(180deg, $blue-primary, $blue-secondary);
$blue-gradient-50: linear-gradient(180deg, $blue-primary-50, $blue-secondary-50);

$yellow: #FFD500;
$red: #FF0000;
$gray: #B7B7B7;
$gray-young: #E9E9E9;
$green: #19B869;

$border-gray: 1px solid $gray-young;
$map-green: $green;

$colors: (
  "primary": $blue-gradient,
  "secondary": white,
  "blue-primary": $blue-primary,
  "blue-secondary": $blue-secondary,
  "red": $red,
  "accent-green": $accent-green,
  "accent-orange": $accent-orange,
  "accent-purple": $accent-purple,
  "gray": $gray,
  "gray-young": $gray-young,
  "yellow": $yellow,
  "black": black,
  "black-87": $black-87,
  "black-60": $black-60,
  "black-38": $black-38,
  "black-16-shadow": $black-16-shadow,
  "black-10": $black-10,
);

/*
 * shadow
 */
$box-shadow: 1px 2px 10px $black-16-shadow;

/*
 * border
 */
$border-radius: (
  "square": 0,
  "square-5": 5px,
  "square-10": 10px,
  "square-15": 15px,
  "square-20": 20px,
  "square-30": 30px,
  "circle": 100%,
);

/*
// font-size
*/
$font-size-all: 6, 8, 10, 12, 14, 16, 20, 24, 28, 32, 48, 56;
