@mixin button {
  @include map-looping($colors, "custom-btn", "background");
}

.btn-rounded {
  border-radius: 100%!important;
}

.btn-outline {
  border: 1px solid $border-gray;
  color: $border-gray;
}

@include button;
