@import '../abstracts/variables';

@mixin button {
  @include map-looping($colors, "custom-btn", "background");
}

.btn {
  font-weight: bold!important;
  border: none!important;
}

.btn-rounded {
  border-radius: 100%!important;
}

.btn-outline {
  border: 1px solid $black-38!important;
  color: $black-60!important;
  font-weight: 400!important;
  background-color: white!important;
}

@include button;
