.nav-tabs .nav-link {
  color: $black-60!important;
  border: none!important;

  &.active {
    color: $blue-secondary!important;
    font-weight: bold;
    border-bottom: 2px solid #24A4FB!important;
    box-shadow: $box-shadow;
  }
}

.nav-link {
  padding: 8px!important;
}

.tab-icon {
  padding: 0px;
  font-size: 16px;
}

.bottom-nav-payment__navbar {
  max-width: 1000px;
  margin: 0 auto;
}

#bottom-nav {
  margin: 0 auto;
  max-width: 1000px!important;

  & a {
    color: $gray!important;

    &.active {
      color: $blue-primary!important;
    }
  }
}
