@import '../abstracts/variables';

.nav-tabs .nav-link {
  color: $black-60!important;
  border: none!important;
  text-decoration: none!important;

  &.active {
    color: $blue-secondary!important;
    font-weight: bold;
    border-bottom: 2px solid $blue-secondary!important;
    box-shadow: $box-shadow;
  }
}

.nav-link {
  padding: 8px!important;
}

.tab-icon {
  padding: 0px;
  font-size: 16px;
}

.bottom-nav-payment__navbar {
  margin-bottom: 80px!important;
}

#bottom-nav {
  margin: 0 auto;

  & a {
    color: $gray!important;

    &.active {
      color: $blue-primary!important;
    }
  }
}
