@mixin border {
  @each $i in $border-px {
    .border-#{$i} {
      border: #{$i}px solid;
    }
    .border-top-#{$i} {
      border-top-width: #{$i}px;
      border-top-style: solid;
    }
    .border-bottom-#{$i} {
      border-bottom-width: #{$i}px;
      border-bottom-style: solid;
    }
    .border-left-#{$i} {
      border-left-width: #{$i}px;
      border-left-style: solid;
    }
    .border-right-#{$i} {
      border-right-width: #{$i}px;
      border-right-style: solid;
    }
  }
  @include map-looping($border-radius, "border", "border-radius");
}

.border-none {
  border: none;
}

@include border;
