@mixin font-size {
  @each $size in $font-size-all {
    .font-size-#{$size} {
      font-size: #{$size}px;
    }
  }
}

body {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

@include font-size();
