body {
  margin: 0 auto;
  padding: 0;
  background-color: $bg-color;
  color: $black-60;
}

.container {
  margin: 0 auto;
  max-width: 768px;
}

a {
  color: $blue-primary;
}

li {
  list-style-type: none;
}
