@mixin font-size {
  @each $value in $font-size-all {
    .font-size-#{$value} {
      font-size: #{$value}px!important;
    }
  }
}

body {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.align-left {
  text-align: left!important;
}

.align-center {
  text-align: center!important;
}

.align-right {
  text-align: right!important;
}

.regular {
  font-weight: 400!important;
}

.semibold {
  font-weight: 600!important;
}

.bold {
  font-weight: bold!important;
}

.strikethrough {
  text-decoration: line-through!important;
}

@include font-size();
