@mixin font-size {
  @each $value in $font-size-all {
    .font-size-#{$value} {
      font-size: #{$value}px!important;
    }
  }
}

body {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.semibold {
  font-weight: 600;
}

.bold {
  font-weight: bold;
}

.strikethrough {
  text-decoration: line-through;
}

@include font-size();
