@mixin font-size {
  @each $value in $font-size-all {
    .font-size-#{$value} {
      font-size: #{$value}px;
    }
  }
}

body {
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 8px;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.semibold {
  font-weight: 600;
}

.strikethrough {
  text-decoration: line-through;
}

@include font-size();
