/*
//  Color
*/
$blue-primary: #048CE8;
$blue-secondary: #24A4FB;
$accent-orange: #E86004;
$accent-purple: #D204E8;
$accent-green: #1AE804;

$bg-color: #EFEFEF;

$black-87: rgba(0, 0, 0, 0.87);
$black-60: rgba(0, 0, 0, 0.60);
$black-38: rgba(0, 0, 0, 0.38);
$black-16-shadow: rgba(0, 0, 0, 0.16);
$black-10: rgba(0, 0, 0, 0.10);

$blue-primary-50: rgba(4, 140, 232, 0.50);

$blue-secondary-50: rgba(36, 164, 251, 0.50);
$blue-secondary-38: rgba(36, 164, 251, 0.38);

$blue-gradient: linear-gradient(180deg, $blue-primary, $blue-secondary);
$blue-gradient-50: linear-gradient(180deg, $blue-primary-50, $blue-secondary-50);

$yellow: #FFD500;
$red: #FF0000;

$border-gray: #B7B7B7;
$map-green: #19B869;

// shadow
$box-shadow: 0px 3px 6px $black-16-shadow;
