@mixin border {
  @each $name, $value in $colors {
    .border-#{$name} {
      border: 1px solid #{$value}!important;
    }
    .border-top-#{$name} {
      border-top: 1px solid #{$value}!important;
    }
    .border-bottom-#{$name} {
      border-bottom: 1px solid #{$value}!important;
    }
    .border-left-#{$name} {
      border-left: 1px solid #{$value}!important;
    }
    .border-right-#{$name} {
      border-right: 1px solid #{$value}!important;
    }
  }
  @include map-looping($border-radius, "border", "border-radius");
}

.border-none {
  border: none!important;
}

.box-shadow {
  box-shadow: $box-shadow;
}

@include border;
